# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
.env
.env.*

# pyenv
.python-version

# pipenv
Pipfile.lock

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json

# AWS SAM build artifacts
.aws-sam/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Local credentials
.aws/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
